.message-container {
  display: flex;
  flex-direction: column;
  background-color: #f7f8fa;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 2em;
}

.message-container.current-user {
  align-self: flex-end;
  background-color: #dcf8c6;
  margin-left: 2em; /* todo: вынести в var 2em*/
  margin-right: 0;
}

.message-container.same-user {
  margin-bottom: 3px;
}

.message-container.display-date {
  margin-bottom: 5rem;
  position: relative;
}
.message-container.display-date::after {
  content: attr(data-date);
  position: absolute;
  left: calc( 50% + 1em );
  transform: translate(-50%, 1.5rem);
  top: 100%;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 1px 7px;
  color: #858585;
}

.message-container.display-date.current-user::after {
  left: calc( 50% - 1em ); /* todo: вынести в var 2em*/
}

.message-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.author-name {
  font-weight: bold;
  margin-right: 5px;
}

.date {
  color: #999;
  font-size: 0.8rem;
}

.message-body {
  word-wrap: break-word;
  white-space: pre-wrap;
  line-height: 1.4;
}

.current-date {
  align-self: flex-end;
  color: #999;
  font-size: 0.8rem;
}